<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- 头部导航栏 -->
    <% include header.ejs %>
    <!-- banner -->
    <div class="banner">BANNER</div>
    <div id="page">
        <div class="container">
            <!-- 左边 -->
            <div class="col-main">
                <div class="main-wrap">
                    <div class="page-inner">
                        <div class="region region-content">
                            <div class="block-system-main">
                                <div class="content">
                                    <%

                                        data.datas.forEach(function(item){
                                        let date = item.date.getFullYear()+"-"+item.date.getMonth()+"-"+item.date.getDate(),
                                            des = item.des;
                                    %>
                                    <div class="node node-blog node-promoted node-teaser clearfix">
                                        <h1>
                                            <a href=<%=item.href%>
                                               target="_blank"><%=item.title%></a>
                                        </h1>

                                        <div class="node-header">
                                            <div class="submitted">
                                                作者：<span>XXXX</span>
                                                日期：<span><%=date%></span>
                                                点击：<span><%=item.click%></span>
                                            </div>
                                        </div>


                                        <div class="body-content clearfix">
                                            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                                <div class="field-items">
                                                    <div class="field-item even"
                                                         property="content:encoded">
                                                        <p><%=des%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="more">
                                            <a href=<%=item.href%>
                                               class="node_read_more"
                                               target="_blank">阅读全文</a>
                                        </div>
                                    </div>

                                    <%
                                        })
                                    %>

                                    <div class="my-page">
                                        <div>FIRST</div>
                                        <div>PREV</div>
                                        <ul class="my-page-ul">
                                            <%
                                            for(var i=(data.pageNum>9?data.pageNum-data.pageCount+1:0);i<data.pageCount+(data.pageNum>9?data.pageNum-data.pageCount+1:0);i++){
                                                if (i === data.pageNum) {
                                                    %><li class='bg'><%=i%></li><%
                                                    continue;
                                                }
                                                %><li><%=i%></li><%
                                            }
                                            %>
                                        </ul>

                                        <div>NEXT</div>
                                        <div>LAST</div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右边 -->
            <% include right.ejs %>
        </div>
    </div>
    <input class="my-hidden-total" hidden value=<%=data.total%> />
    <script type="text/javascript" src="/javascripts/page.js"></script>
</body>
</html>
